label {
    margin-top: 20px;
    margin-bottom: 20px;
}

#name-parent {
    text-align: center;
}

#content-parent {
    text-align: center;
}

#back-to-index-parent {
    text-align: center;
}

#summary-parent {
    text-align: center;
}

#button-parent {
    text-align: center;
}